*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
    outline: none;
    cursor: pointer;
}

#app{
    height: 100%;
}
body{
    overflow-y: scroll !important;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
p{
    margin-bottom: 0px;
}
a{
    text-decoration:none;
    color:#054cb3;
}
.tang-nav{
    margin-bottom:10px;
    border-bottom: 1px solid #cecece;
}

.blog-list{
    padding: 0px;
    border: 0;
  }

.blog-list .list-group-item{
    border-left: 0px;
    border-right: 0px;
}
.blog-list .list-group-item:first-child{
    border-top: 0px;
}
.blog-list .list-group-item:last-child{
    border-bottom: 0px;
}

.nav-link-active{
    color: #f108d2 !important;
    font-weight: 500;
}
 
.list-group-item .active{
    background-color: #054cb3 !important;
}

.markdown-body pre{
    border: 1px solid #d1d4d6; 
}


@media (min-width: 768px){
    .dropdown-menu{
        margin-top: 10px !important;
        border-radius: 0 0px 5px 5px;
        border-top: 0;
    }
}
@media (max-width: 768px) {
    .col-move{
        padding-left: 0;
        padding-right: 0;
    }
    .search-button{
        border-radius: 0;
        border-right: 0;
    }
    .search-input{
        border-left: 0;
        border-radius: 0;
    }
    .list-group-item{
        border-left: 0;
        border-right: 0;

        padding: 12px;
    }
    .list-group{
        border-radius: 0px;
    }
    .card-body{
        padding: 12px;
    }
    .blog-body, .col-move .card{
        border-radius: 0px;
        border-left: 0;
        border-right: 0;
    }
}

// bootstrap stype

.t-b-b-1{
    border-bottom: 1px solid #cecece;
}
.t-b-m-1{
    padding: 0px 5px 0px 3px; font-size: 13px
}