#app{
    height: 100%;
}


*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 0;
    resize: none;
    outline: none;
    cursor: pointer;
}

body{
  overflow-y: scroll;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a{
    text-decoration:none;
    color:#054cb3;
}
.margin-bottom10{
    margin-bottom:10px
}




@media (max-width: 768px) {
  .hdl{
    display: none;
  }
}


.blog-list{
    padding: 0px;
    border: 0;
  }
.blog-list .list-group-item{
  border-left: 0px;
  border-right: 0px;
}
.blog-list .list-group-item:first-child{
  border-top: 0px;
}
.blog-list .list-group-item:last-child{
  border-bottom: 0px;
  }
.blog-list p{
  margin: 0;
}


  .nav .active{
    color: 3px solid #054cb3;
    font-weight: bold;
  }

  
.list-group-item.active{
    background-color: #054cb3 !important;
}

.markdown-body pre{ border: 1px solid #d1d4d6; }

.modal-open {
  overflow-y: scroll;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active, 2.1.8 版本以下 */ {
  opacity: 0
}