#app{
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 0;
    resize: none;
    outline: none;
    cursor: pointer;
}

html,body{
    width: 100%;
    height: 100%;
}