*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 0;
    resize: none;
    outline: none;
    cursor: pointer;
}

#app{
    height: 100%;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
p{
    margin-bottom: 0px;
}
a{
    text-decoration:none;
    color:#054cb3;
}
.margin-bottom10{
    margin-bottom:10px
}
.blog-list{
    padding: 0px;
    border: 0;
  }

.blog-list .list-group-item{
    border-left: 0px;
    border-right: 0px;
}
.blog-list .list-group-item:first-child{
    border-top: 0px;
}
.blog-list .list-group-item:last-child{
    border-bottom: 0px;
}

.nav .active{
    color: 3px solid #054cb3;
    font-weight: bold;
}
 
.list-group-item .active{
    background-color: #054cb3 !important;
}

.markdown-body pre{
    border: 1px solid #d1d4d6; 
}

@media (max-width: 768px) {
    .no-lr-padding{
        padding-left: 0px;
        padding-right: 0px;
    }
    .no-lr-border{
        border-left: 0px;
        border-right: 0px;
        border-radius: 0;
    }
    .hdl{
        display: none;
    }
    
    .nopd .nav-link{
        padding: 8px;
    }
    .card{
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
    }
}

