*{
    box-sizing:border-box !important;
}
html,body{
    padding: 0;
    margin: 0;
    background: #ececeb
}
body{
    overflow-y: scroll;
    padding-bottom:20px;
}
a:hover{
    color: #014ea5;
}
a{
    color: #0366d6;
    text-decoration:none;
}
#main{
    margin: auto;width: 100%;min-width: 300px;max-width: 1200px;padding: 8px;
}
#header{
    background-color: #e2e2e2;width: 100%;font-size: 20px;border-bottom: 1px solid rgb(179, 179, 179);
}
#header a{
    color: #5a5959 !important;
}
#header-n{
    margin: auto;width: 100%;min-width: 300px;max-width: 1200px;padding: 8px;
}
#bzms{
    float:right
}
h1{
    margin: 0;
}

#post-body{
    padding-top: 8px;
    margin-top: 10px;
    border-top: 1px solid rgb(179, 179, 179);
}
.left-main{
    padding: 0px 0px 0px 5px; 
    box-sizing: border-box;
    border-radius: 5px;
}
.left-foot,.right-foot{
    margin-bottom: 50px !important;;
}

.right-main{
    margin-bottom: 10px;
}
.left-main a{
    display: block;
    padding: 5px;
    background: #efe9d5;
    margin-bottom: 0px;
    overflow:hidden;
    border-radius: 0px;
    border-left:1px solid #b3b3b3;
    border-right:1px solid #b3b3b3;
    border-top:1px solid #b3b3b3;
}
.left-main a:last-child{
    border-bottom:1px solid #b3b3b3;
    border-radius: 0 0 5px 5px;
}
.left-main a:first-child{
    border-radius: 5px 5px 0 0 ;
}
.left-main div{
    margin-right: 10px;
}
.right-main{
    float: right;
    border: 1px solid #b3b3b3;
    background: #efe9d5;
    padding: 5px;
    border-radius: 5px;
}


@media screen and (max-width: 800px){
    .left-main div{
        margin-right: 0;
    }
    .left-main{
        display: none;
        width: 100% !important;
    }
    .right-main{
        width: 100% !important;
    }
    .an1{
        display: inline !important;
        position:absolute;
    }
}



.markdown-body .highlight pre, .markdown-body pre{
    background-color: #dedede !important;
}

#footer{
    position:fixed;
    bottom:0px;
    width: 100%;
    margin: 0;
    min-width: 300px;
    border-top: 1px solid rgb(179, 179, 179);
    background-color: rgb(226, 226, 226);
    margin-bottom: 0px;

}
#footer-n{
    margin: auto;
    margin-bottom:0px;
    width: 100%;
    min-width: 300px;
    max-width:1200px;
    padding: 8px;
}
.W30{
width:30%
}
.W70{
width:70%
}
.W100{
width:100%
}