<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="comm::head"></head>
<body>
<div th:include="comm::navigation"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9 column">
            <div class="row">
                <div class="col-md-12 column nob-p">
                    <ul class="list-group">
                        <li class="list-group-item nob" th:each="blog : ${blogs}">
                            <a href="#" class="wz" th:text="${blog.title}" th:href="@{/post/{id}(id=${blog.id})}"></a>
                            <div >
                                <span th:text="${blog.createDate}"></span>
                                <a class="pull-right" th:href="@{/author/{id}(id=${blog.username})}" th:text="${blog.nickname}"></a>
                            </div>
                        </li>
                        <li class="list-group-item nob">
                           <a id="up" href="#" class="">上一页</a><a class="pull-right" id="next">下一页</a>
                        </li>
                    </ul>
            </div>
        </div>
        </div>

        <div class="col-md-3 column nob-p">
            <div th:include="comm::advertise"></div>
        </div>
    </div>
</div>
</div>
</body>
<footer th:include="comm::footer"></footer>
<script>
    $(function(){
        let next = $("#next");
        let up = $("#up");
        let p = Number(getQueryVariable("pg"));
        if (p <= 0){
            up.css('opacity', '0.2')
            up.attr("href","javascript:return false;")
        }
        if (p >= 10){
            next.css('opacity', '0.2')
            next.attr("href","javascript:return false;")
        }
        next.click(function(){
            if (p >= 10){return}
            window.location.href = UrlUpdateParams(window.location.href, "pg", (++p))
        });
        up.click(function(){
            if (p <= 0){return}
            window.location.href = UrlUpdateParams(window.location.href, "pg", (--p))
        });
    })
</script>
</html>
