<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner" >
                    <div class="item active">
                        <div class="jumbotron">
                            <h1>
                                感谢你的加入
                            </h1>
                            <p>
                                在这个大千世界你能与你相遇，让我们感到非常欣慰，我们有着共同理想，与爱好，并追逐着它们，才让我们相遇于此，如果可以我希望我们始终能像现在这样一生一世。
                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" href="#">点击注册</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="jumbotron">
                            <h1>
                                感谢你的加入
                            </h1>
                            <p>
                                在这个大千世界你能与你相遇，让我们感到非常欣慰，我们有着共同理想，与爱好，并追逐着它们，才让我们相遇于此，如果可以我希望我们始终能像现在这样一生一世。
                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" href="#">点击注册</a>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="jumbotron">
                            <h1>
                                感谢你的加入
                            </h1>
                            <p>
                                在这个大千世界你能与你相遇，让我们感到非常欣慰，我们有着共同理想，与爱好，并追逐着它们，才让我们相遇于此，如果可以我希望我们始终能像现在这样一生一世。
                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" href="#">点击注册</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2>
                博客
            </h2>
            <p>
                我们每个技术人员都应该拥有一种自己的博客页面，着不仅仅是记录一些文字，它还记录着我们成长的过程，并且写博客的过程本身也是一种成长。
            </p>
            <p>
                <a class="btn" href="#">发布博客 »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                热点
            </h2>
            <p>
                热点，是用于发布快消息的功能，它能帮助我们立即分享自己的所见所闻，并让大家一起来讨论，等其他简短讯息。
            </p>
            <p>
                <a class="btn" href="#">发布热点 »</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                购物
            </h2>
            <p>
                购物，我们提供一个专门为咱们程序员提供的购物平台，这是最懂里的在线商城，也是最想帮助到你购买到你最想需要的商品的小商铺。
            </p>
            <p>
                <a class="btn" href="#">进去瞧瞧 »</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
