<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link href="favicon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="LBG">
<div class="modal-dialog" id="modelBody">
    <form action="/register" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="myModalLabel">登录</h4>
        </div>
        <div class="modal-body" id = "model-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="用户名" id="username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密码" id="password" name="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="确认密码" id="password1" name="password1">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="邮箱" name="mail" id="mail" autocomplete="off" >
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="mailCode"  placeholder="验证码">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="sendmail">获取</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">提交注册</button>
            </div>
            <div class="btn-group" style="width: 100%;">
                <a style="width: 50%;" href="/login.html" type="button" class="btn btn-default">账号登陆</a>
                <!--<button style="width: 50%;" type="button" class="btn btn-default">忘记密码</button>-->
            </div>

        </div>
    </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal -->
</body>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script>

    //定时器
    let interval;
    //计数变量
    let c = 29;

    $(function(){

        /*发送邮件验证码*/
        $("#sendmail").click(function(){
            $.get("code/mail/"+$("#mail").val(),function (data) {
                if (data.state == "44") {
                    alert(data.msg)
                }else{
                    $("#sendmail").attr("disabled","disabled")
                    $("#sendmail").text("获取(30)")
                    interval = setInterval(sj,1000);
                }
            });
        })
        function sj(){
            $("#sendmail").text("获取("+c+")")
            if (c == 0){
                $("#sendmail").text("获取")
                $("#sendmail").removeAttr("disabled")
                clearInterval(interval)
                c = 29;
            }
            c --;
        }
    })



</script>
</html>