<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>登陆</title>
    <link href="favicon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="LBG">

<div class="modal-dialog" id="modelBody">

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="myModalLabel">修改用户信息</h4>
        </div>
        <div class="modal-body" id = "model-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="昵称" th:value="${user.nickname}" id="nickname" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="个人简介" th:value="${user.signature}"   id="signature" autocomplete="off">
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <button class="btn btn-primary form-control" id="updateUser">确认修改</button>
            </div>
            <div class="form-group">
                <a href="/" class="btn btn-default form-control">返回首页</a>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script>
$(function(){
    $("#updateUser").click(function(){
        $.ajax({
            type : "POST",
            contentType: "application/json",
            url : "/updateuser",
            data : JSON.stringify({
                nickname:$("#nickname").val(),
                signature:$("#signature").val()
            }),success : function(result) {
                if (result.data == "1"){
                    alert("修改成功")
                }
                console.log(result);
            },error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
        })

    })
})
</script>
</html>