<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>堂堂程序员</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav th:replace="comm::nav"></nav>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-8 column move-p-lr-0">
            <div class="panel panel-default move-b-lr-0">
                <div class="panel-body">
                    <ul class="blog-list">
                        <li th:each="item : ${articlePage.list}">
                            <a th:href="'/article/' + ${item.articleId}" th:text="${item.title}"></a>
                            <span th:text="${#dates.format(item.createDate, 'yyyy-MM-dd')}" class="blog-time"></span>
                            <hr class="hr"/>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <ul class="pager">
                        <li class="previous"><a th:href="'?page='+${articlePage.prePage}">上一页</a></li>
                        <li class="next"><a th:href="'?page='+${articlePage.nextPage}">下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 column move-p-lr-0">
            <nav th:replace="comm::recommend"></nav>
            <nav th:replace="comm::website"></nav>
        </div>
    </div>
</div>
</body>
</html>