<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="comm::head(${article.title},${article.synopsis})"></head>

<body>
	<nav th:replace="comm::nav"></nav>
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-8 column">
				<div class="card mb-2 article-body ">
					<div class="card-body">
						<h1 th:text="${article.title}" id="blog-title"></h1>
						<hr>
						<div class="markdown-body" th:utext="${article.text}"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 column">
				<div class="list-group" th:if="${subject != null}">
					<a href="#" class="list-group-item active">文章专辑</a>
					<a class="list-group-item" th:each="item : ${subject.dataArray}"
						th:href="'/article/' + ${item.articleId}" th:text="${item.title}"></a>
				</div>
				<nav th:replace="comm::recommend"></nav>
				<nav th:replace="comm::website"></nav>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom p15" th:if="${subject != null}">
		<select onchange="change()" id="ml">
			<option th:each="item : ${subject.dataArray}" th:selected="${item.articleId eq article.articleId}"
				th:value="${item.articleId}" th:text="${item.title}"></option>
		</select>
	</nav>
</body>
<script th:include="comm::script"></script>

</html>