<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh-cn">

<head th:replace="comm::head('首页','首页')"></head>

<body>
	<nav th:replace="comm::nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 mb-10 column">
				<ul class="list-group">
					<li class="list-group-item" th:each="item : ${articlePage.content}">
						<a th:href="'/article/' + ${item.articleId}" th:text="${item.title}" class="article-title">
							<strong>
								<p th:text="${item.title}"></p>
							</strong>
						</a>
						<div class="article-synopsis" th:text="${item.synopsis}"></div>
						<div>
							<span class="date-color" th:text="${#dates.format(item.createTime, 'yyyy-MM-dd')}"></span>
						</div>
					</li>
					<li class="list-group-item">
						<a th:href="'?page='+${articlePage.number - 1}">上一页</a>
						<a th:href="'?page='+${articlePage.number + 1}" class="float-end">下一页</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 column">
				<nav th:replace="comm::recommend"></nav>
				<nav th:replace="comm::website"></nav>
			</div>
		</div>
	</div>
</body>

</html>