<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="comm::head('教程文档','专辑列表')"></head>

<body>
  <nav th:replace="comm::nav"></nav>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-md-9 column">
        <ul class="list-group">
					<li class="list-group-item" th:each="item : ${subjects.content}">
            <a th:href="'/subject/' + ${item.subjectId}" th:text="${item.subjectName}"  class="article-title"></a>
						<div class="article-synopsis" th:text="${item.synopsis}"></div>
						<div>
							<span class="date-color" th:text="${#dates.format(item.createTime, 'yyyy-MM-dd')}"></span>
						</div>
					</li>
				</ul>
      </div>
      <div class="col-md-3 column">
        <nav th:replace="comm::recommend"></nav>
        <nav th:replace="comm::website"></nav>
      </div>
    </div>
  </div>
</body>

</html>