<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="comm::head(${subject.subjectName},${subject.synopsis})"></head>

<body>
  <nav th:replace="comm::nav"></nav>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-md-8 column">
        <div class="panel panel-default">
          <div class="panel-body">
            <a th:href="'/subject/' + ${subject.subjectId}" th:text="${subject.subjectName}" class="fw"></a>
            <span th:text="${#dates.format(subject.createTime, 'yyyy-MM-dd')}" class="blog-time"></span>
            <br>
            <p th:text="${subject.author.nickname}" class="blog-time"></p>
            <div th:text="${subject.synopsis}"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="blog-list">
              <li th:each="item : ${subject.dataArray}" class="panel-text">
                <a th:href="'/article/' + ${item.articleId}" th:text="${item.title}" class="fw"></a>
                <p th:text="${item.synopsis}"></p>
                <hr class="hr" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 column">
        <nav th:replace="comm::recommend"></nav>
        <nav th:replace="comm::website"></nav>
      </div>
    </div>
  </div>
</body>

</html>