.yd {
    display: none !important;
}

@media (max-width: 770px) {
    .pc {
        display: none !important;
    }

    .yd {
        display: inline !important;
    }

    .m-h {
        display: none;
    }

    hr{
        margin: 5px;
    }

    .list-group-item,.card-body,.card-header,.nav-link, .item-p-link,.card-body{
        padding: 10px !important;
    }


    .nav-link {
        padding-left: 12px;
        padding-right: 12px;
    }
    .item-p-link{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .list-group-item{
        text-overflow:ellipsis !important;overflow:hidden !important;white-space:nowrap !important;
    }
    
}


.btn-group-sm>.btn, .btn-sm {
    height: 20px;
    --bs-btn-padding-y: 0.08rem !important;
    --bs-btn-padding-x: 0.2rem !important;
    --bs-btn-font-size: 0.675rem !important;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body,#app,html{
    height: 100%;
}

a{
    text-decoration: none !important;
}

.b-b-1{
    border-bottom: 1px solid #eaeaea;
}