<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>
<div class="container">
    <div id="hdt" style="user-select:none;height:30px;width:100%;white-space: nowrap;overflow: auto; margin-bottom: 5px;">
        <span>
            <a href="/blog" class="nava">最新</a>
        </span>
        <span th:each="cls:${clss}">
            <a th:href="@{?cls={id}(id=${cls.id})}" class="nava" th:text="${cls.className}"></a>
        </span>
    </div>

    <div class="row clearfix">
        <div class="col-md-9 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="list-group">
                        <li class="list-group-item"  th:each="blog:${blogList}">
                            <a href="#" class="wz" style="font-size: 18px;" th:text="${blog.title}" th:href="@{/blog/get/{id}(id=${blog.id})}">24*7 支持</a>
                            <br>
                            <div >
                                <span th:text="${blog.createDate}"></span> .
                                <span class="text-danger" th:text="${blog.className}">Java</span>
                                <a style="float:right;" th:href="@{/user/{id}(id=${blog.username})}" th:text="${blog.username}"></a>
                            </div>
                        </li>

                        <li class="list-group-item">
                           <a>上一页</a><a style="float:right;" th:href="${url}">下一页</a>
                        </li>
                    </ul>
            </div>
        </div>

        </div>
        <div class="col-md-3 column">
            <div th:replace="page/comm::advertise"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>
