<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>
<div class="container" id="app">
    <input id="blogId" type="hidden" th:value="${blog.id}">
    <div class="row clearfix">
        <div class="col-md-9 column">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <span><a href="#" th:text="${blog.username}"></a></span>
                        <span>.</span>
                        <span th:text="${blog.createDate}">2019-09-09</span>
                        <span>. 阅读:</span>
                        <span th:text="${blog.pageviewCount}"></span>
                        <button style="float:right;height: 20px;" class="btn btn-success btn-xs">关注</button>
                    </div>
                    <h3><strong th:text="${blog.title}"></strong></h3>
                    <hr>
                    <div class="markdown-body" th:utext="${blog.text}"></div>
                </div>
                <div class="panel-footer">
                    <button  th:classappend="${like == 1} ? 'btn btn-danger  btn-xs' : 'btn btn-default btn-xs'" id="lkBut">喜欢</button>
                    <button class="btn btn-default btn-xs" id="scBut">收藏</button>
                    <button class="btn btn-default btn-xs" id="fxBut">分享</button>
                    <a th:href="@{/blog/update/{id}(id=${blog.id})}" class="btn btn-default btn-xs"  th:if="${session.LOGIN_USER_SESSION != null} and ${session.LOGIN_USER_SESSION.username == blog.username}">编辑</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="list-group">
                <a href="#" class="list-group-item active">推荐</a>
                <a href="#" class="list-group-item">24*7 支持</a>
                <a href="#" class="list-group-item">免费 Window 空间托管</a>
                <a href="#" class="list-group-item">图像的数量</a>
                <a href="#" class="list-group-item">每年更新成本</a>
            </div>
            <div th:replace="page/comm::advertise"></div>
        </div>
    </div>
</div>
</body>
<script>
    let blogId = '[[${blog.id}]]'

    $("#lkBut").click(function(){
        $.get("/blog/like/"+blogId+"/insert",function(data,status){

            if (data.data == -1){
                $("#lkBut").removeClass()
                $("#lkBut").addClass("btn btn-default btn-xs")
            }

            if (data.data == 1){
                $("#lkBut").removeClass()
                $("#lkBut").addClass("btn btn-danger  btn-xs")
            }

        });
    })

    $("#scBut").click(function(){

    })

    $("#fxBut").click(function(){

    })

</script>
</html>