<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>
<div class="container">
    <div id="hdt" style="margin-bottom: 10px;">
        <span>
            <a href="/blog" class="btn btn-default btn-xs">最新</a>
        </span>
        <span>
            <a href="/blog?gz=1" class="btn btn-default btn-xs">关注</a>
        </span>
        <span th:each="cls:${clss}">
            <a th:href="@{?cls={id}(id=${cls.id})}" class="btn btn-default btn-xs" th:text="${cls.className}"></a>
        </span>
    </div>

    <div class="row clearfix">
        <div class="col-md-9 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="list-group">
                        <li class="list-group-item "  th:each="blog : ${blogs}">
                            <a href="#" class="wz" style="font-size: 18px;" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">24*7 支持</a>
                            <br>
                            <div >
                                <span th:text="${blog.createDate}"></span> .
                                <span class="text-danger" th:text="${blog.className}">Java</span>
                                <a class="pull-right" th:href="@{/us/{id}(id=${blog.username})}" th:text="${blog.nickname}"></a>
                            </div>
                        </li>

                        <li class="list-group-item">
                           <a id="syy">上一页</a><a style="float:right;" id="xyy">下一页</a>
                        </li>
                    </ul>
            </div>
        </div>
        </div>
        <div class="col-md-3 column">
            <div th:replace="page/comm::advertise"></div>
        </div>
    </div>
</div>
</div>
</body>
<script>
    $(function(){
        $(".list-group-item").mouseover(function(){
            $(this).find("button").removeClass("hidden")
        }).mouseout(function(){
            $(this).find("button").addClass("hidden")
        })

        let pg = getQueryVariable("pg");
        if (pg==null || Number(pg) <= 1){
            $("#syy").css('opacity', '0.2')
            $("#syy").attr("href","javascript:return false;")
        }

        if (pg!=null && Number(pg) >= 10){
            $("#xyy").css('opacity', '0.2')
            $("#xyy").attr("href","javascript:return false;")
        }

        $("#syy").click(function(){
            let p = Number(pg);
            if (p <= 1){
                return;
            }else{
                window.location.replace("?pg="+ --p);
            }
        })

        $("#xyy").click(function(){
            let p = Number(pg)
            if (p==0)
                p++;
            if (p>=10)
                return
            window.location.replace("?pg="+ (++p));

        })

        function getQueryVariable(variable){
            let query = window.location.search.substring(1);
            let vars = query.split("&");
            for (let i=0;i<vars.length;i++) {
                let pair = vars[i].split("=");
                if(pair[0] == variable){return pair[1];}
            }
            return null;
        }
    })
</script>
</html>
