<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-9 column">

        </div>
        <div class="col-md-3 column">
            <ul class="list-group">
                <li class="list-group-item">推荐收藏</li>
                <li class="list-group-item">第一篇掘金Blog</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">Java开源项目：金爵</li>
                <li class="list-group-item">35谁程序员的眼泪</li>
                <li class="list-group-item">广告-》不得了的广告</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>


            <ul class="list-group">
                <li class="list-group-item">好评收藏</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">

                    24*7 支持
                </li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">

                    折扣优惠
                </li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>
