<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.w3.org/1999/xhtml"  style="height: 100%;">
<head>
    <meta charset="utf-8">
    <title>网站模型</title>
    <link rel="stylesheet" href="/static/lib/editormd/css/editormd.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
</head>
<body style="height: 100%;">
<div id="test-editormd" style="height: 100%;margin: 0px;border-top: 0;">
</div>
</div>
</body>
<script src="/static/lib/editormd/js/jquery.min.js"></script>
<script src="/static/lib/editormd/js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "100%",
            height  : "100%",
            syncScrolling : "single",
            path    : "/static/lib/editormd/lib/",
            toolbarIcons : function() {
                return ["title","setClass","undo", "redo", "|", "bold", "del", "italic", "quote", "list-ul", "list-ol", "hr", "link","image","datetime","watch","||","butCg","addInfo","saveInfo","butTc"]
            },
			toolbarIconTexts:{
            	saveInfo:"草稿",
				addInfo:"发布",

				butCg:"保存",
				butTc:"退出"
			},
			toolbarCustomIcons :{
				setClass:"<select id='classId' class=\"form-control\">\n" +
						"\t\t\t<option value='1'>日志</option>\n" +
						"\t\t\t<option value='2'>JAVA</option>\n" +
						"\t\t\t<option value='3'>Python</option>\n" +
						"\t\t\t<option value='4'>前端</option>\n" +
						"\t\t</select>",
				title   : "<input type='text' id='title' class='form-control' style='width: 700px; max-width: 100%;' oninput='if(value.length>11)value=value.slice(0,60)' placeholder='标题，最大长度60'>"
			},
			toolbarHandlers :{
            	butTc:function(){
					let l = window.history.back(-1);
					window.location.href="/";

				},
				addInfo:function(cm, icon, cursor, selection){
					let title = $("#title").val();
					let text = $(".editormd-preview-container").html();
					let summary = $(".editormd-preview-container").text().substring(0,49)
					let classId = $("#classId").val();
					let state = "1";
					let data = {
						title:title,
						text:text,
						summary:summary,
						classId:classId,
						state:state
					}
					$.ajax({
						type:"POST",
						url:"/blog/add",
						contentType: "application/json", //必须这样写
						dataType:"json",
						data:JSON.stringify(data),//schoolList是你要提交是json字符串
						success:function (data) {
							if (data.state=='00'){
								alert("添加成功");
							}
						}
					})


				}
			}
        });


        /*$("#title").change(function(){
        	if($("#title").length > 40){

			}
		})*/
    });

</script>
</html>
