<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>

<div class="container">

    <div id="hdt" style="height:30px;width:100%;white-space: nowrap;overflow: auto; margin-bottom: 5px;">
        <span>
            <a href="/blog" class="nava">Java</a>
        </span>
        <span>
            <a href="/blog" class="nava">Python</a>
        </span>
        <span>
            <a href="/blog" class="nava">PHP</a>
        </span>
        <span>
            <a href="/blog" class="nava">JavaScript</a>
        </span>
        <span>
            <a href="/blog" class="nava">Html/Css</a>
        </span>
        <span>
            <a href="/blog" class="nava">C#</a>
        </span>
        <span>
            <a href="/blog" class="nava">C/C++</a>
        </span>
        <span>
            <a href="/blog" class="nava">Go语言</a>
        </span>
    </div>


    <div class="row clearfix">
        <div class="col-md-9 column">
            <a href="#" class="list-group-item">Java基础篇</a>
            <a href="#" class="list-group-item">Java高级</a>
            <a href="#" class="list-group-item">Spring</a>
            <a href="#" class="list-group-item">SpringBoot</a>
            <a href="#" class="list-group-item">SpringCloud</a>
            <a href="#" class="list-group-item">MyBatis</a>
            <a href="#" class="list-group-item">SpringData JPA</a>
            <a href="#" class="list-group-item">Java爬虫</a>
            <a href="#" class="list-group-item">Java多线程</a>
            <a href="#" class="list-group-item">Java大数据篇</a>
            <a href="#" class="list-group-item">Java顶顶顶顶顶顶顶顶顶顶</a>
            <a href="#" class="list-group-item">Java资讯篇</a>
            <a href="#" class="list-group-item">24*7 支持</a>
            <a href="#" class="list-group-item">免费 Window 空间托管</a>
            <a href="#" class="list-group-item">图像的数量</a>
            <a href="#" class="list-group-item">每年更新成本</a>
            <br>
        </div>

        <div class="col-md-3 column">
            <ul class="list-group">
                <li class="list-group-item">推荐用户</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">24*7 支持</li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">折扣优惠</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">推荐热点</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">24*7 支持</li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">折扣优惠</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
