<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>

<div class="container">

    <div id="hdt" style="user-select:none;height:30px;width:100%;white-space: nowrap;overflow: auto; margin-bottom: 5px;">
        <span>
            <a href="/blog" class="nava">Java</a>
        </span>
        <span>
            <a href="/blog" class="nava">Python</a>
        </span>
        <span>
            <a href="/blog" class="nava">PHP</a>
        </span>
        <span>
            <a href="/blog" class="nava">JavaScript</a>
        </span>
        <span>
            <a href="/blog" class="nava">Html/Css</a>
        </span>
        <span>
            <a href="/blog" class="nava">C#</a>
        </span>
        <span>
            <a href="/blog" class="nava">C/C++</a>
        </span>
        <span>
            <a href="/blog" class="nava">Go语言</a>
        </span>
    </div>


    <div class="row clearfix">

        <div class="col-md-9">

            <div class="panel panel-default col-md-6 p5x">
                <div class="panel-body">
                    这是一个基本的面板
                </div>
            </div>
            <div class="panel panel-default col-md-6 p5x">
                <div class="panel-body">
                    这是一个基本的面板
                </div>
            </div>
            <div class="panel panel-default col-md-6 p5x">
                <div class="panel-body">
                    这是一个基本的面板
                </div>
            </div>
            <div class="panel panel-default col-md-6 p5x">
                <div class="panel-body">
                    这是一个基本的面板
                </div>
            </div>



            <br>
        </div>

        <div class="col-md-3 column">
            <ul class="list-group">
                <li class="list-group-item">推荐用户</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">24*7 支持</li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">折扣优惠</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">推荐热点</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">24*7 支持</li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">折扣优惠</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
