.btn{

}
html{

    overflow-y:scroll;


}
body{
    padding-right: 0px !important;
    background-color: #f4f5f5;
}

#hdt {
    width: 100%;
    overflow: hidden;
}
#hdt::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
}
#hdt::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #CFD1C4;
}
#hdt::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
#modelBody{margin-top: 10%;}
@media only screen and (max-device-width:480px){
    #modelBody{margin-top: 30%;}
}
.my-nav{
    background-color: #FFFFFF;
    padding: 6px;
}

#pl li:hover{
    background: #ddd;


}
#plBody{
    font-size:12px;
}
#plBody p{
    font-size: 15px;
}
#LBG{
     background: url(https://cn.bing.com//th?id=OHR.CahuitaNP_ZH-CN3985565209_1920x1080.jpg) no-repeat center center fixed;
}

a:hover,a:hover,a{text-decoration:none !important;}
.nava{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.speecial{
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (min-width:992px){

}

/*
.list-group-item {
    border-left: 0px !important;
    border-right: 0px !important;
}
.list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top:0px !important;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
*/



/*
#userhome .panel-body {
    padding: 0px !important;
}

.list-group {
    margin-bottom: 0px !important;
}*/


hr{
    margin-top: 5px !important;
    margin-bottom:5px !important;
}

.myBtn{
    margin-bottom: 5px !important;
}