<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ttcxy.tang.gateway.dao.mapper.DtsAdvertiseMapper">
  <resultMap id="BaseResultMap" type="net.ttcxy.tang.gateway.entity.model.DtsAdvertise">
    <id column="ADVERTISE_ID" jdbcType="VARCHAR" property="advertiseId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="DELIVERY_TIME" jdbcType="INTEGER" property="deliveryTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ADVERTISE_ID, TITLE, URL, CREATE_DATE, DELIVERY_TIME, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DTS_ADVERTISE
    where ADVERTISE_ID = #{advertiseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DTS_ADVERTISE
    where ADVERTISE_ID = #{advertiseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="net.ttcxy.tang.gateway.entity.model.DtsAdvertiseExample">
    delete from DTS_ADVERTISE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.ttcxy.tang.gateway.entity.model.DtsAdvertise">
    insert into DTS_ADVERTISE (ADVERTISE_ID, TITLE, URL, 
      CREATE_DATE, DELIVERY_TIME, DESCRIPTION
      )
    values (#{advertiseId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{deliveryTime,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.ttcxy.tang.gateway.entity.model.DtsAdvertise">
    insert into DTS_ADVERTISE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="advertiseId != null">
        ADVERTISE_ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="advertiseId != null">
        #{advertiseId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.ttcxy.tang.gateway.entity.model.DtsAdvertiseExample" resultType="java.lang.Long">
    select count(*) from DTS_ADVERTISE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DTS_ADVERTISE
    <set>
      <if test="record.advertiseId != null">
        ADVERTISE_ID = #{record.advertiseId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deliveryTime != null">
        DELIVERY_TIME = #{record.deliveryTime,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DTS_ADVERTISE
    set ADVERTISE_ID = #{record.advertiseId,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      DELIVERY_TIME = #{record.deliveryTime,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.ttcxy.tang.gateway.entity.model.DtsAdvertise">
    update DTS_ADVERTISE
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME = #{deliveryTime,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ADVERTISE_ID = #{advertiseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.ttcxy.tang.gateway.entity.model.DtsAdvertise">
    update DTS_ADVERTISE
    set TITLE = #{title,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      DELIVERY_TIME = #{deliveryTime,jdbcType=INTEGER},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ADVERTISE_ID = #{advertiseId,jdbcType=VARCHAR}
  </update>
</mapper>