<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ttcxy.tang.gateway.dao.mapper.DtsBlogTagMapper">
  <resultMap id="BaseResultMap" type="net.ttcxy.tang.gateway.entity.model.DtsBlogTag">
    <id column="BLOG_TAG_ID" jdbcType="VARCHAR" property="blogTagId" />
    <result column="TAG_NAME" jdbcType="VARCHAR" property="tagName" />
    <result column="SYNOPSIS" jdbcType="VARCHAR" property="synopsis" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BLOG_TAG_ID, TAG_NAME, SYNOPSIS, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DTS_BLOG_TAG
    where BLOG_TAG_ID = #{blogTagId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DTS_BLOG_TAG
    where BLOG_TAG_ID = #{blogTagId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="net.ttcxy.tang.gateway.entity.model.DtsBlogTagExample">
    delete from DTS_BLOG_TAG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.ttcxy.tang.gateway.entity.model.DtsBlogTag">
    insert into DTS_BLOG_TAG (BLOG_TAG_ID, TAG_NAME, SYNOPSIS, 
      CREATE_DATE)
    values (#{blogTagId,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR}, #{synopsis,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.ttcxy.tang.gateway.entity.model.DtsBlogTag">
    insert into DTS_BLOG_TAG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogTagId != null">
        BLOG_TAG_ID,
      </if>
      <if test="tagName != null">
        TAG_NAME,
      </if>
      <if test="synopsis != null">
        SYNOPSIS,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogTagId != null">
        #{blogTagId,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null">
        #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.ttcxy.tang.gateway.entity.model.DtsBlogTagExample" resultType="java.lang.Long">
    select count(*) from DTS_BLOG_TAG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DTS_BLOG_TAG
    <set>
      <if test="record.blogTagId != null">
        BLOG_TAG_ID = #{record.blogTagId,jdbcType=VARCHAR},
      </if>
      <if test="record.tagName != null">
        TAG_NAME = #{record.tagName,jdbcType=VARCHAR},
      </if>
      <if test="record.synopsis != null">
        SYNOPSIS = #{record.synopsis,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DTS_BLOG_TAG
    set BLOG_TAG_ID = #{record.blogTagId,jdbcType=VARCHAR},
      TAG_NAME = #{record.tagName,jdbcType=VARCHAR},
      SYNOPSIS = #{record.synopsis,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.ttcxy.tang.gateway.entity.model.DtsBlogTag">
    update DTS_BLOG_TAG
    <set>
      <if test="tagName != null">
        TAG_NAME = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null">
        SYNOPSIS = #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BLOG_TAG_ID = #{blogTagId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.ttcxy.tang.gateway.entity.model.DtsBlogTag">
    update DTS_BLOG_TAG
    set TAG_NAME = #{tagName,jdbcType=VARCHAR},
      SYNOPSIS = #{synopsis,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where BLOG_TAG_ID = #{blogTagId,jdbcType=VARCHAR}
  </update>
</mapper>