<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ttcxy.tang.gateway.dao.mapper.DtsFavoriteMapper">
  <resultMap id="BaseResultMap" type="net.ttcxy.tang.gateway.entity.model.DtsFavorite">
    <id column="FAVORITE_ID" jdbcType="VARCHAR" property="favoriteId" />
    <result column="AUTHOR_ID" jdbcType="VARCHAR" property="authorId" />
    <result column="BLOG_ID" jdbcType="VARCHAR" property="blogId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FAVORITE_ID, AUTHOR_ID, BLOG_ID, CREATE_DATE
  </sql>
  <select id="selectByExample" parameterType="net.ttcxy.tang.gateway.entity.model.DtsFavoriteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DTS_FAVORITE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DTS_FAVORITE
    where FAVORITE_ID = #{favoriteId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DTS_FAVORITE
    where FAVORITE_ID = #{favoriteId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="net.ttcxy.tang.gateway.entity.model.DtsFavoriteExample">
    delete from DTS_FAVORITE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.ttcxy.tang.gateway.entity.model.DtsFavorite">
    insert into DTS_FAVORITE (FAVORITE_ID, AUTHOR_ID, BLOG_ID, 
      CREATE_DATE)
    values (#{favoriteId,jdbcType=VARCHAR}, #{authorId,jdbcType=VARCHAR}, #{blogId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.ttcxy.tang.gateway.entity.model.DtsFavorite">
    insert into DTS_FAVORITE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favoriteId != null">
        FAVORITE_ID,
      </if>
      <if test="authorId != null">
        AUTHOR_ID,
      </if>
      <if test="blogId != null">
        BLOG_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favoriteId != null">
        #{favoriteId,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.ttcxy.tang.gateway.entity.model.DtsFavoriteExample" resultType="java.lang.Long">
    select count(*) from DTS_FAVORITE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DTS_FAVORITE
    <set>
      <if test="record.favoriteId != null">
        FAVORITE_ID = #{record.favoriteId,jdbcType=VARCHAR},
      </if>
      <if test="record.authorId != null">
        AUTHOR_ID = #{record.authorId,jdbcType=VARCHAR},
      </if>
      <if test="record.blogId != null">
        BLOG_ID = #{record.blogId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DTS_FAVORITE
    set FAVORITE_ID = #{record.favoriteId,jdbcType=VARCHAR},
      AUTHOR_ID = #{record.authorId,jdbcType=VARCHAR},
      BLOG_ID = #{record.blogId,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.ttcxy.tang.gateway.entity.model.DtsFavorite">
    update DTS_FAVORITE
    <set>
      <if test="authorId != null">
        AUTHOR_ID = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null">
        BLOG_ID = #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FAVORITE_ID = #{favoriteId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.ttcxy.tang.gateway.entity.model.DtsFavorite">
    update DTS_FAVORITE
    set AUTHOR_ID = #{authorId,jdbcType=VARCHAR},
      BLOG_ID = #{blogId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where FAVORITE_ID = #{favoriteId,jdbcType=VARCHAR}
  </update>
</mapper>