<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ttcxy.tang.gateway.dao.mapper.StsVisitLogMapper">
  <resultMap id="BaseResultMap" type="net.ttcxy.tang.gateway.entity.model.StsVisitLog">
    <id column="VISIT_LOG_ID" jdbcType="INTEGER" property="visitLogId" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="IP_ADDR" jdbcType="VARCHAR" property="ipAddr" />
    <result column="MEMBER_ID" jdbcType="INTEGER" property="memberId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    VISIT_LOG_ID, PATH, IP_ADDR, MEMBER_ID, CREATE_DATE
  </sql>
  <select id="selectByExample" parameterType="net.ttcxy.tang.gateway.entity.model.StsVisitLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from STS_VISIT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from STS_VISIT_LOG
    where VISIT_LOG_ID = #{visitLogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from STS_VISIT_LOG
    where VISIT_LOG_ID = #{visitLogId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.ttcxy.tang.gateway.entity.model.StsVisitLogExample">
    delete from STS_VISIT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.ttcxy.tang.gateway.entity.model.StsVisitLog">
    insert into STS_VISIT_LOG (VISIT_LOG_ID, PATH, IP_ADDR, 
      MEMBER_ID, CREATE_DATE)
    values (#{visitLogId,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{ipAddr,jdbcType=VARCHAR}, 
      #{memberId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.ttcxy.tang.gateway.entity.model.StsVisitLog">
    insert into STS_VISIT_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="visitLogId != null">
        VISIT_LOG_ID,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="ipAddr != null">
        IP_ADDR,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="visitLogId != null">
        #{visitLogId,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null">
        #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.ttcxy.tang.gateway.entity.model.StsVisitLogExample" resultType="java.lang.Long">
    select count(*) from STS_VISIT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update STS_VISIT_LOG
    <set>
      <if test="record.visitLogId != null">
        VISIT_LOG_ID = #{record.visitLogId,jdbcType=INTEGER},
      </if>
      <if test="record.path != null">
        PATH = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.ipAddr != null">
        IP_ADDR = #{record.ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null">
        MEMBER_ID = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update STS_VISIT_LOG
    set VISIT_LOG_ID = #{record.visitLogId,jdbcType=INTEGER},
      PATH = #{record.path,jdbcType=VARCHAR},
      IP_ADDR = #{record.ipAddr,jdbcType=VARCHAR},
      MEMBER_ID = #{record.memberId,jdbcType=INTEGER},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.ttcxy.tang.gateway.entity.model.StsVisitLog">
    update STS_VISIT_LOG
    <set>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null">
        IP_ADDR = #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        MEMBER_ID = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where VISIT_LOG_ID = #{visitLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.ttcxy.tang.gateway.entity.model.StsVisitLog">
    update STS_VISIT_LOG
    set PATH = #{path,jdbcType=VARCHAR},
      IP_ADDR = #{ipAddr,jdbcType=VARCHAR},
      MEMBER_ID = #{memberId,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where VISIT_LOG_ID = #{visitLogId,jdbcType=INTEGER}
  </update>
</mapper>