<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ttcxy.tang.gateway.dao.mapper.UtsFansMapper">
  <resultMap id="BaseResultMap" type="net.ttcxy.tang.gateway.entity.model.UtsFans">
    <id column="FANS_ID" jdbcType="VARCHAR" property="fansId" />
    <result column="BE_AUTHOR_ID" jdbcType="VARCHAR" property="beAuthorId" />
    <result column="AUTHOR_ID" jdbcType="VARCHAR" property="authorId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FANS_ID, BE_AUTHOR_ID, AUTHOR_ID, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UTS_FANS
    where FANS_ID = #{fansId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from UTS_FANS
    where FANS_ID = #{fansId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="net.ttcxy.tang.gateway.entity.model.UtsFansExample">
    delete from UTS_FANS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.ttcxy.tang.gateway.entity.model.UtsFans">
    insert into UTS_FANS (FANS_ID, BE_AUTHOR_ID, AUTHOR_ID, 
      CREATE_DATE)
    values (#{fansId,jdbcType=VARCHAR}, #{beAuthorId,jdbcType=VARCHAR}, #{authorId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.ttcxy.tang.gateway.entity.model.UtsFans">
    insert into UTS_FANS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fansId != null">
        FANS_ID,
      </if>
      <if test="beAuthorId != null">
        BE_AUTHOR_ID,
      </if>
      <if test="authorId != null">
        AUTHOR_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fansId != null">
        #{fansId,jdbcType=VARCHAR},
      </if>
      <if test="beAuthorId != null">
        #{beAuthorId,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.ttcxy.tang.gateway.entity.model.UtsFansExample" resultType="java.lang.Long">
    select count(*) from UTS_FANS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update UTS_FANS
    <set>
      <if test="record.fansId != null">
        FANS_ID = #{record.fansId,jdbcType=VARCHAR},
      </if>
      <if test="record.beAuthorId != null">
        BE_AUTHOR_ID = #{record.beAuthorId,jdbcType=VARCHAR},
      </if>
      <if test="record.authorId != null">
        AUTHOR_ID = #{record.authorId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update UTS_FANS
    set FANS_ID = #{record.fansId,jdbcType=VARCHAR},
      BE_AUTHOR_ID = #{record.beAuthorId,jdbcType=VARCHAR},
      AUTHOR_ID = #{record.authorId,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.ttcxy.tang.gateway.entity.model.UtsFans">
    update UTS_FANS
    <set>
      <if test="beAuthorId != null">
        BE_AUTHOR_ID = #{beAuthorId,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        AUTHOR_ID = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FANS_ID = #{fansId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.ttcxy.tang.gateway.entity.model.UtsFans">
    update UTS_FANS
    set BE_AUTHOR_ID = #{beAuthorId,jdbcType=VARCHAR},
      AUTHOR_ID = #{authorId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where FANS_ID = #{fansId,jdbcType=VARCHAR}
  </update>
</mapper>