.btn{

}
html{

    overflow-y:scroll;


}
body{
    padding-right: 0px !important;
    background-color: #f4f5f5;
}
.my-nav{
    background-color: #FFFFFF;
    padding: 6px;
}

#pl li:hover{
    background: #ddd;


}
/*
.container{
    max-width: 1000px;
}*/
