<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title text="堂堂程序员"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/github.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/github-markdown-css/4.0.0/github-markdown.min.css" rel="stylesheet" type="text/css">
    <meta name="description" content=""/>
</head>
<body>
<div id="header">
    <div id="header-body">
        <ul class="nav-head">
            <li><a href="/">堂堂程序员</a></li>
        </ul>
        <ul class="nav-tag">
            <li><a href="#">分类</a></li>
            <li><a href="#">作者</a></li>
            <li><a href="#">专辑</a></li>
            <li><a href="http://www.ttcxy.net/">国际版</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div id="main-body">
        <ul>
            <li th:each="item : ${articlePage.list}"><a th:href="'/post/' + ${item.articleId}" th:text="${item.title}"></a></li>
        </ul>
    </div>
</div>
<div class="footer">
    <a href="http://beian.miit.gov.cn" target="_blank">湘ICP备20009234号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/post/98b255d539f743e193e398bfa9b97cfd" target="_blank">友情链接</a>
</div>
</body>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?7449589c273ee75cf0c7def43d91fa44";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    function change(){
        location.href = "/post/" + document.getElementById("ml").value
    }
    </script>
</html>
