<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${article.title} + ' - ' + ${article.nickname}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/github.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/github-markdown-css/4.0.0/github-markdown.min.css" rel="stylesheet" type="text/css">
    <meta name="description" th:content="${article.synopsis}"/>
</head>
<body>
    <div id="header">
        <div id="header-body">
            <ul class="nav-head">
                <li><a href="/">堂堂程序员</a></li>
            </ul>
            <ul class="nav-tag">
                <li><a href="#">分类</a></li>
                <li><a href="#">作者</a></li>
                <li><a href="#">专辑</a></li>
                <li><a th:href="'http://www.ttcxy.net/article/' + ${article.articleId}">国际版</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div id="main-body">
            <div th:if="${subject != null}" class="left-main">
                <p><strong><a th:text="${subject.subjectName}" href="#"></a></strong></p>
                <p th:each="item : ${subject.articleList}">
                    <a th:href="'/post/' + ${item.articleId}" th:text="${item.title}"></a>
                </p>
            </div>
            <div class="right-main" th:classappend="${subject == null} ? 'W100' : 'W70' ">
                <h1 id="post-title" th:text="${article.title}"></h1>
                <div id="post-body" class="markdown-body" th:utext="${article.text}"></div>
            </div>
        </div>
    </div>
    <div class="footer" th:classappend="${subject == null} ? '' : 'm-b-50' ">
        <a href="http://beian.miit.gov.cn" target="_blank">湘ICP备20009234号</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/post/98b255d539f743e193e398bfa9b97cfd" target="_blank">友情链接</a>
    </div>
    <div id="header-footer" th:if="${subject != null}">
        <div id="header-footer-body">
            <span>目录</span>
            <select onchange="change()" id="ml">
                <option th:each="item : ${subject.articleList}" th:selected="${item.articleId eq article.articleId}" th:value="${item.articleId}" th:text="${item.title}" ></option>
            </select>
        </div>
    </div>
    </body>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?7449589c273ee75cf0c7def43d91fa44";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    function change(){
        location.href = "/post/" + document.getElementById("ml").value
    }
    </script>
</html>
