<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${blogDto.title}  + ' - 堂堂程序员'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="/favicon.ico" rel="icon"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/github-markdown-css/4.0.0/github-markdown.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
<div th:replace="comm::navigation"></div>
<div class="container" id="app" v-cloak>
    <div class="row">
        <div class="col-md-9 column nob-p">
            <div class="panel panel-default nob" >
                <div class="panel-body" id="blogDto-body" style="overflow-y:hidden;">
                    <div>
                        <strong><a th:href="@{/author/{id}(id=${blogDto.username})}" th:text="${blogDto.nickname}"></a></strong>
                        &nbsp;&nbsp;
                        <span style="color:#b4b4b4" th:text="${#dates.format(blogDto.createDate,'yyyy.MM.dd')}"></span>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-xs"  @click="followerClick" v-text="follower.text"></button>
                        </div>
                    </div>
                    <h3><strong th:text="${blogDto.title}"></strong></h3>
                    <hr>
                    <div class="markdown-body" th:utext="${blogDto.text}"></div>
                </div>
                <div class="panel-footer">
                    <button th:classappend="${like == 1} ? 'btn btn-danger  btn-xs' : 'btn btn-default btn-xs'" @click="likeClick" id="lkBut">推荐</button>
                    <a th:href="'/editor?blogDto='+${blogDto.id}" class="btn btn-default btn-xs"  th:if="${session.SPRING_SECURITY_CONTEXT != null && session.SPRING_SECURITY_CONTEXT.authentication.principal.username == blogDto.username}">编辑</a>
                </div>
            </div>

            <div class="panel panel-default nob">
                <div class="panel-heading">
                    <strong>评论</strong>
                </div>
                <div class="panel-body"  id="commentBody" style="word-wrap:break-word">
                    <div v-for="(item,index) in comments" v-if="comments.length > 0 ">
                        <a v-bind:href="'/author/'+ item.username" v-text="item.nickname"></a>
                        <span style="color:gainsboro" class="pull-right" v-text="item.createDate"></span>
                        <span style="color:#dca492;margin-right: 10px;"
                              class="pull-right"
                              @click="deleteComment(item.id,index)"
                              v-if="item.username == commentUsername">删除</span>
                        <div v-text="item.content"></div><hr>
                    </div>
                    <div v-if="comments.length == 0">
                        没有评论...
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control " v-model="content">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" @click="send">评论</button>
                    </span>
                    </div>
                </div>
            </div>


            <div class="panel panel-default nob">
                <div class="panel-body">
                    <a class="wz my-wz" th:href="'/post/'+${random.id}" th:text="${random.title}"></a>
                    <div>
                        <span th:text="${#dates.format(random.createDate, 'yyyy.MM.dd')}"></span>
                        <a class="pull-right" th:href="@{/author/{id}(id=${random.username})}" th:text="${random.nickname}"></a>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-3 column advertise nob-p">
            <div th:replace="comm::advertise"></div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="/js/my.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            blogId:'[[${blogDto.id}]]',
            username:'[[${blogDto.username}]]',
            loginUser:"[[${session.SPRING_SECURITY_CONTEXT}]]" == "",
            follower:{
                text:"关注",
            },
            comments: [],
            content:"",
            pl:1,
            commentUsername:"",
        },
        methods: {
            likeClick(){
                if (this.loginUser){
                    alert("请登录")
                    return
                }
                $.get("/blogDto/like/"+this.blogId+"/insert",function(result){
                    let lkBut = $("#lkBut")
                    if (result.data === 1){
                        lkBut.removeClass();
                        lkBut.addClass("btn btn-danger  btn-xs")
                    }else{
                        lkBut.removeClass();
                        lkBut.addClass("btn btn-default btn-xs")
                    }
                });

            },
            followerClick(){
                if (this.loginUser){
                    alert("请登录")
                    return
                }
                let _this = this
                let type,text
                if (_this.follower.text === '已关注'){
                    type = "DELETE"
                    text = "关注"
                }else{
                    type = "POST"
                    text = "已关注"
                }
                if (_this.username == null){
                    return
                }
                $.ajax({
                    type:type,
                    url:"/fans/"+_this.username,
                    contentType: "application/json",
                    dataType:"json",
                    success:function (result) {
                        if (result.code === 200) {
                            _this.follower.text = text
                        }else{
                            alert(result.message)
                        }
                    }
                })
            },
            loadFollower(){
                if (this.loginUser){
                    return
                }
                let _this = this;
                $.ajax({
                    type:"GET",
                    url:"/fans/"+_this.username,
                    contentType: "application/json",
                    success:function (result) {
                        if (result.data){
                            _this.follower.text = '已关注'
                        } else{
                            _this.follower.text = '关注'
                        }
                    }
                })
            },
            send(){
                let _this = this;
                let dataObject = {
                    blogId:this.blogId,
                    content:this.content
                };
                $.ajax({
                    type:"POST",
                    url:"/blogDto/commentDto/insert",
                    contentType: "application/json", //必须这样写
                    dataType:"json",
                    data:JSON.stringify(dataObject),
                    async:false,
                    success:function (result) {
                        if(result.code === 200){
                            _this.content = "";
                            _this.comments.push(result.data);
                        }else{
                            alert(result.message)
                        }
                    }
                })
            },
            loadComment(){
                $.ajax({
                    type:"GET",
                    url:"/blogDto/commentDto/"+this.blogId,
                    contentType: "application/json",
                    dataType:"json",
                    success:function (result) {
                        sleep(500)
                        vm.comments = result.data.comments;
                        vm.commentUsername = result.data.user.username;
                    }
                })
            },
            commentClick(){
                if (this.pl % 2 != 0){
                    $("#blogDto-body").css("height","90px").css("overflow-x","auto");
                    $("#commentBody").css("height",(window.innerHeight-254)+"px");
                    $(".advertise").addClass("hidden-xs hidden-sm");
                } else{
                    $("#blogDto-body").css("height","").css("overflow-x","");
                    $("#commentBody").css("height","");
                    $(".advertise").removeClass("hidden-xs hidden-sm");
                }
                this.pl++;
            },
            deleteComment(id,index){
                let _this = this;
                $.ajax({
                    type:"DELETE",
                    url:"/blogDto/commentDto/"+id,
                    contentType: "application/json", //必须这样写
                    dataType:"json",
                    success:function (data) {
                        if(data.code === 200){
                            _this.comments.splice(index, 1);
                        }
                    }
                })
            }
        },created(){
            this.loadFollower();
            this.loadComment();
        }
    })
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7449589c273ee75cf0c7def43d91fa44";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>