<!DOCTYPE html><html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head><meta charset="UTF-8"><title>Title</title></head><body><ul><li th:each="item : ${pageInfo.list}"><a th:text="${item.title}" th:href="'/post/'+${item.id}"></a></li></ul><a th:each="item : ${pageInfo.navigatepageNums}" th:text="${item}" th:href="'/map?page='+${item}"></a></body>    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7449589c273ee75cf0c7def43d91fa44";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script></html>