body{
    overflow-y: scroll;
}

li{
    list-style-type:none;
    padding: 0;
}

a{
    text-decoration: none;
}

.pager{
    margin:0 !important;
}
.blog-time{
    float:right
}

.blog-list{
    padding: 0;
}
.blog-list a{
    font-weight: 700;
}

.navbar-right{
    margin-right:0px;
}

.mb-10{
    margin-bottom: 10px;
}
.p15{
    padding:15px
}

#blog-title{
    margin-top: 0px;
}
#ml{
    max-width: 100%;
}
.hr{
    border:2px double #e8e8e8;
}
li:last-child .hr{
    display: none;
}
.h1{
    border-bottom: 0px !important;
}
.panel-text{
    word-wrap:break-word;
}

@media (max-width: 768px) {
    .pc {
        display: none;
    }

    .yd {
        display: inline;
    }

    .list-group-item {
        padding: 12px;
    }

    .card-body {
        padding: 12px;
    }

    .column{
        padding: 0;
    }
    .card,.list-group,.list-group-item{
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

}
