.pager{
    margin:0 !important;
}
.blog-time{
    float:right
}
li{
    list-style-type:none;
    padding: 0;
}
.blog-list{
    padding: 0;
}
.blog-list a{
    font-weight: 700;
}

.navbar-right{
    margin-right:0px;
}
.mb-50{
    margin-bottom: 50px;
}
.p15{
    padding:15px
}
body{
    overflow-y: scroll;
}
#blog-title{
    margin-top: 0px;
}
#ml{
    max-width: 100%;
}
.hr{
    border:2px double #e8e8e8;
}
li:last-child .hr{
    display: none;
}
.h1{
    border-bottom: 0px !important;
}
.panel-text{
    word-wrap:break-word;
}