<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>
<div class="container">
    <a href="/blog" class="btn btn-default btn-xs">推荐</a>

    <a href="?cls=2" class="btn btn-default btn-xs">Java</a>
    <a href="?cls=3" class="btn btn-default btn-xs">Python</a>
    <a href="?cls=4" class="btn btn-default btn-xs">前端</a>
    <a href="?cls=1" class="btn btn-default btn-xs">日志</a>

    <div class="row clearfix" style="    margin-top: 5px;">
        <div class="col-md-9 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="list-group">
                        <li class="list-group-item"  th:each="blog:${blogList}">
                            <a href="#" class="wz" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">24*7 支持</a> . <span th:text="${blog.className}">Java</span>
                            <br>
                            <div style="padding-top: 10px;padding-bottom: 10px"> <span th:text="${blog.summary}"></span></div>
                            <div ><span th:text="${blog.createDate}"></span><span> . 阅读:9百+</span><span style="float:right"><span th:text="${blog.username}">不得了的人物 </span> <img src="https://avatars0.githubusercontent.com/u/38550226?s=40&u=f1f8ae9fc00eeff54377fe0617c0335a92fad690&v=4" style="height: 16px;" class="img-circle"></span> </div>
                        </li>

                        <li class="list-group-item">
                            更多。。。
                        </li>
                    </ul>
            </div>
        </div>


        </div>
        <div class="col-md-3 column">
            <ul class="list-group">
                <li class="list-group-item">推荐用户</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">24*7 支持</li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">折扣优惠</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">推荐热点</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">24*7 支持</li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">折扣优惠</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>
