<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/comm::head"></head>
<body>
<div th:replace="page/comm::navigation"></div>
<div class="container">
    <div class="row clearfix">

        <div class="col-md-9 column">
            <div class="row clearfix">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked my-nav text-center">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="?type=java">Java</a></li>
                        <li><a href="?type=python">python</a></li>
                        <li><a href="#">VB.Net</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">PHP</a></li>
                    </ul>

                </div>
                <div class="col-md-10 column">
                    <ul class="list-group">
                        <li class="list-group-item"  th:each="blog:${blogList}">
                            <a href="#" class="wz" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">24*7 支持</a> . <span th:text="${blog.typeName}">Java</span>
                            <br>
                            <span th:text="${blog.summary}"></span>
                            <div><span th:text="${blog.createDate}"></span><span> . 阅读:9百+</span><span style="float:right"><span th:text="${blog.username}">不得了的人物 </span></span> </div>
                        </li>

                        <li class="list-group-item">
                            更多。。。
                        </li>
                    </ul>
            </div>
        </div>


        </div>
        <div class="col-md-3 column">
            <ul class="list-group">
                <li class="list-group-item">推荐用户</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">24*7 支持</li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">折扣优惠</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">推荐热点</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
                <li class="list-group-item">24*7 支持</li>
                <li class="list-group-item">每年更新成本</li>
                <li class="list-group-item">折扣优惠</li>
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item">图像的数量</li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>
