<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <title th:text="404 + ' - 堂堂程序员'"></title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
<div th:replace="comm::navigation"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9 column">
            <div style="text-align:center;">
                <a href="/" style="font-size: 50px">没有权限联系QQ 792190997</a>
                <a href="/" style="font-size: 50px">返回首页</a>
            </div>
        </div>
        <div class="col-md-3 column advertise">
            <div th:replace="comm::advertise"></div>
        </div>
    </div>
</div>
<div th:include="comm::login"></div>
</body>
</html>