<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title th:text="${blog.title} + ' - ' + ${blog.nickname} + ' - ' + '堂堂程序员'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/github-markdown-css/4.0.0/github-markdown.min.css" rel="stylesheet" type="text/css">
    <meta name="description" th:content="${blog.synopsis}"/>
</head>
<body>
    <div id="header">
        <div id="header-n">
            <div class="blogNickname">
                <a th:href="'/author/' + ${blog.username}" th:utext="${blog.nickname}"></a>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="right-main" class="" th:classappend="${subject == null} ? 'W100' : 'W70' ">
            <h1 id="post-title" th:text="${blog.title}"></h1>
            <div id="post-body" class="markdown-body" th:utext="${blog.text}">
            </div>
        </div>
        <div id="left-main" th:if="${subject!=null}" class="W30">
            <div>
                <strong><a>专题</a></strong>
                <a th:each="item : ${subject.blogList}" href="#" th:text="${item.title}"></a>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-n">
            作者：<span th:text="${blog.nickname}"></span><a th:href="'/blog/' + ${blog.blogId}" style="float:right">标准模式</a>
        </div>
    </div>
    </body>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?7449589c273ee75cf0c7def43d91fa44";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</html>
