<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<!--导航菜单-->
<div th:fragment="navigation">
    <nav role="navigation" class="navbar navbar-default navbar-static-top" style="margin-bottom: 10px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">堂堂程序员</a>
            </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="input-group" id="search">
                        <input autocapitalize="none" autocomplete="off" autocorrect="off" type="text" class="form-control" v-model="searchValue" th:value="${title}" placeholder="输入关键字" name="s">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" @click="searchClick">搜索</button>
                    </span>
                    </div>
                    <script>
                        new Vue({
                            el: "#search",
                            data: {
                                searchValue:""
                            },
                            methods: {
                                searchClick(){
                                    let search = getQueryVariable("s");
                                    if(search !== null){
                                        index.search(this.searchValue)
                                    }else{
                                        window.location.href = "/so?s=" + this.searchValue
                                    }
                                }
                            }
                        })
                    </script>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:if="${session.SPRING_SECURITY_CONTEXT}!= null" href="/editor" target="_blank">发布</a></li>
                    <li><a th:if="${session.SPRING_SECURITY_CONTEXT}!= null" th:href="@{/author/{username}(username=${session.SPRING_SECURITY_CONTEXT.authentication.principal.username})}">我的</a></li>
                    <li th:if="${session.SPRING_SECURITY_CONTEXT}== null"><a data-toggle="modal" data-target="#loginModal" onclick="login.rImg()">登陆</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="login">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <form>
            <div class="modal-content">
                <!--Modal 标题-->
                <div class="modal-header">
                    <h4 class="modal-title text-center" v-text="title"></h4>
                </div>
                <div class="modal-body" id = "model-body">
                    <!--注册，忘记密码邮箱-->
                    <label v-if="title == '注册' || title == '忘记密码'">邮箱：</label>
                    <div class="form-group" v-if="title == '注册' || title == '忘记密码'">
                        <input type="text" class="form-control" placeholder="邮箱号" v-model="author.mail" autocomplete="off">
                    </div>
                    <!--登录时显示-->
                    <label v-if="title == '登录'">邮箱 / 用户名：</label>
                    <div class="form-group" v-if="title == '登录'">
                        <input type="text" class="form-control" placeholder="用户名" v-model="author.username" autocomplete="off">
                    </div>
                    <label>密码：</label>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="密码" v-model="author.password" autocomplete="off">
                    </div>
                    <label v-if="title == '注册' || title == '忘记密码'">确认密码：</label>
                    <div class="form-group" v-if="title == '注册' || title == '忘记密码'">
                        <input type="password" class="form-control" placeholder="密码" v-model="author.confirmPassword" autocomplete="off">
                    </div>
                    <label v-text="yzm + (mailCount > 0 ? mailCount : '')"></label>
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="author.verify">
                        <span v-if="title == '登录'" class="input-group-addon" style="padding: 0"><img alt="验证码" @click="rImg" v-bind:src="verifyUrl" height="32"/> </span>
                        <span class="input-group-btn" v-if="title != '登录'">
                            <button class="btn btn-default" type="button" @click="sendVerify">获取验证码</button>
                        </span>
                    </div>
                    <input type="checkbox" name="remember-me" checked="checked" class="hidden"/>
                </div>
                <div class="modal-footer">
                    <div class="btn-group W100" style="margin-bottom: 10px" v-if="title == '登录'">
                        <button type="button" class="btn btn-default W33">QQ</button>
                        <button type="button" class="btn btn-default W33">微信</button>
                        <button type="button" class="btn btn-primary W34" @click="login()">登录</button>
                    </div>
                    <div class="btn-group W100" style="margin-bottom: 10px" v-if="title == '注册'">
                        <button type="button" class="btn btn-primary W100" @click="register()">确认注册</button>
                    </div>
                    <div class="btn-group W100" style="margin-bottom: 10px" v-if="title == '忘记密码'">
                        <button type="button" class="btn btn-primary W100"  @click="password()">修改密码</button>
                    </div>
                    <div class="btn-group W100">
                        <a type="button" class="btn btn-default W33" v-if="title != '登录'" @click="title='登录',yzm='验证码：'">账户登录</a>
                        <a type="button" class="btn btn-default W33" v-if="title != '注册'" @click="title='注册',yzm='邮箱验证码：'">注册账户</a>
                        <a type="button" class="btn btn-default W33" v-if="title != '忘记密码'" @click="title='忘记密码',yzm='邮箱验证码：'">忘记密码</a>
                        <a type="button" class="btn btn-default W34" data-dismiss="modal">取消登录</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        let login = new Vue({
            el:"#loginModal",
            data:{
                zc:true,
                dl:false,
                title:"登录",
                yzm:"验证码",
                author:{
                    username:"",
                    password:"",
                    confirmPassword:"",
                    verify:"",
                    mail:"",
                    'remember-me':true
                },
                mailCount:0,
                verifyUrl:""
            },
            methods: {
                login(){
                    let _this = this
                    $.ajax({
                        type:"POST",
                        url:"/doLogin",
                        contentType: "application/x-www-form-urlencoded",
                        data:_this.author,
                        dataType:"JSON",
                        error:function (err){
                            if(err.responseText == "登录成功"){
                                location.reload();
                            }else{
                                alert(err.responseText)
                                _this.rImg()
                            }
                        }
                    });
                },
                rImg(){
                    this.verifyUrl = "/verify?t=" + Date.parse(new Date())
                },
                sendVerify(){
                    let _this = this
                    _this.mailCount = 60
                    $.ajax({
                        type:"POST",
                        url:"/verifyMail/" + _this.author.mail
                    });
                    setInterval(() => {
                        setTimeout(function(){
                            _this.mailCount -= 1
                        },0)
                    }, 1000)
                },
                register(){
                    let _this = this;
                    if (this.author.password === this.author.confirmPassword){
                        $.ajax({
                            type:"POST",
                            url:"/author/register",
                            contentType: "application/json;charset=UTF-8",
                            data:JSON.stringify(_this.author),
                            dataType:"JSON",
                            success:function(result){
                                alert(result)
                            },
                            error(e){
                                alert(JSON.stringify(e.responseText))
                                _this.rImg()
                            }
                        });
                        return
                    }
                    alert("两次密码不一致")
                },
                password(){
                    let _this = this;
                    if (this.author.password === this.author.confirmPassword) {
                        $.ajax({
                            type: "POST",
                            url: "/author/password",
                            contentType: "application/json;charset=UTF-8",
                            data: JSON.stringify(_this.author),
                            dataType: "JSON",
                            success: function (result) {
                                alert(result)
                            }
                        });
                        return
                    }
                    alert("两次密码不一致")
                }
            },
            mounted(){
                this.rImg()
            }
        })
    </script>
</div>


<div th:fragment="advertise">
    <div class="list-group" >
        <a class="list-group-item active">广播<span class="pull-right">🎇</span></a>
        <a target="_blank" class="list-group-item" th:each="advertise : ${application.advertises}" th:text="${advertise.title}" th:href="${advertise.url}"></a>
    </div>
    <div class="panel panel-default" style="margin-bottom: 60px">
        <div class="panel-body">
            <p><a href="http://www.ttcxy.net/post/0b0d396713a54e2fbf714478d740e53e" target="_blank">关于</a></p>
            <p><a href="http://www.ttcxy.net/post/98b255d539f743e193e398bfa9b97cfd" target="_blank">友情链接</a></p>
            <p><a href="http://beian.miit.gov.cn" target="_blank">湘ICP备20009234号</a></p>
            <a class="hidden" href="/map">地图</a>
        </div>
    </div>
</div>

</html>