<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<!--导航菜单-->
<div th:fragment="navigation">
    <nav role="navigation" class="navbar navbar-default navbar-static-top" style="margin-bottom: 10px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">堂堂程序员</a>
            </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">博客</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="input-group" id="search">
                        <input autocapitalize="none" autocomplete="off" autocorrect="off" type="text" class="form-control" v-model="searchValue" th:value="${title}" placeholder="输入关键字" name="s">
                        <span class="input-group-btn">
                            <button type="buttom" class="btn btn-default" @click="searchClick">搜索</button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:if="${session.SPRING_SECURITY_CONTEXT}!= null" href="/editor" target="_blank">投稿</a></li>
                    <li><a th:if="${session.SPRING_SECURITY_CONTEXT}!= null" th:href="@{/author/{username}(username=${session.SPRING_SECURITY_CONTEXT.authentication.principal.username})}">我的</a></li>
                    <li th:if="${session.SPRING_SECURITY_CONTEXT}== null"><a href="/login.html">登陆</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</div>


<div th:fragment="advertise">
    <div class="list-group" >
        <a class="list-group-item active">广播<span class="pull-right">🎇</span></a>
        <a target="_blank" class="list-group-item" th:each="advertise : ${application.advertises}" th:text="${advertise.title}" th:href="${advertise.url}"></a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <p><a href="https://ttcxy.net/post/0b0d396713a54e2fbf714478d740e53e" target="_blank">关于</a></p>
            <p><a href="https://ttcxy.net/post/98b255d539f743e193e398bfa9b97cfd" target="_blank">友情链接</a></p>
            <p><a href="http://beian.miit.gov.cn" target="_blank">湘ICP备20009234号</a></p>
            <a class="hidden" href="/map">地图</a>
        </div>
    </div>
</div>

</html>