<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>设置</title>
    <link href="/favicon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <style>
        html,body {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            background: url(https://cn.bing.com//th?id=OHR.CahuitaNP_ZH-CN3985565209_1920x1080.jpg) no-repeat center center fixed;
        }
    </style>
</head>
<body>
    <div id="info" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">修改用户信息</h4>
            </div>
            <div class="modal-body">
                <label>用户名：</label>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="author.username" readonly>
                </div>
                <label>昵称：</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="昵称" v-model="author.nickname" autocomplete="off">
                </div>
                <label>个人简介：</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="个人简介" v-model="author.signature" autocomplete="off">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary form-control" @click="updateAuthor()">确认修改</button>
                </div>
                <div class="btn-group" style="width: 100%;">
                    <a style="width: 100%;" onClick="history.go(-1);" class="btn btn-default">返回页面</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="/js/my.js"></script>
<script>
    new Vue({
        el: "#info",
        data:{
            author:{
                nickname:"[[${authorLogin.nickname}]]",
                signature:"[[${authorLogin.signature}]]",
                username:'[[${authorLogin.username}]]'
            }
        }, methods: {
            updateAuthor(){
                let _this = this
                $.ajax({
                    type : "POST",
                    contentType: "application/json",
                    url : "/author/update",
                    data : JSON.stringify({
                        nickname:_this.author.nickname,
                        signature:_this.author.signature
                    }),
                    success(result) {
                        history.go(-1);
                    },
                    error(e){
                        alert("asdfasdf")
                        alert(e.responseText);
                    }
                })
            }
        },mounted(){

        }
    })
</script>
</html>