[v-cloak] {
    display: none !important;
}
.T10{
    margin-bottom: 10px
}
*{
    outline: none !important;
}
#blog-list p{
    margin: 0 !important;
}
.navbar-brand{
}
#blog-list .blog-synopsis{
    color: #3a5867;max-height: 40px;overflow:hidden;
}
#markdown-body{
    word-break:break-all;
    white-space:pre-wrap;
    word-wrap:break-word;
}
body{
    overflow-y:scroll;
}
.markdown-body img{
    max-width: 100%;
}
@media screen and (max-width:1000px) and (min-width:770px){
    .t700{
        margin-bottom: 0px !important;
    }
    .visible-my{
        display: none;
    }
}
@media screen and (max-width: 770px){
    .t700{
        margin-bottom: 0px !important;
    }
    #loginModal {
        margin:10px;
        padding-right: 0 !important;
    }
}
#loginModal {
    margin:5px auto;
    width: 100%;
    max-width: 600px;
    padding: 10px !important;
}
/*百分比*/
.W33{width:33%}
.W34{width:34%}
.W100{width: 100%}
.W20{width: 20%}
.W50{width: 50%}
/*A标签*/
a:hover,a:hover,a{
    text-decoration:none !important;
    cursor:pointer
}
.page{
    pointer-events:none;
    color: #b4b4b4
}
.blog-title{
    font-size: 18px;
}
.load-context{
    height: 100px;
    text-align: center;
    line-height: 70px;
    font-size: 10px;
}
hr{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
