[v-cloak] {
    display: none !important;
}

body{
    overflow-y:scroll;
}

@media screen and (max-width:1000px) and (min-width:770px){
    .visible-my{
        display: none;
    }
}
@media screen and (max-width: 770px){
    #loginModal {
        margin:10px;
        padding-right: 0 !important;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 11px !important;
        padding-left: 11px !important;
    }
}



/*登录模态框*/
#loginModal {
    margin:5px auto;
    width: 100%;
    max-width: 600px;
    padding: 10px !important;
}
/*百分比*/
.W33{
    width:33%
}
.W34{
    width:34%
}
.W100{
    width: 100%
}
.W20{
    width: 20%
}
.W50{
    width: 50%
}
/*A标签*/
a:hover,a:hover,a{
    text-decoration:none !important;
    cursor:pointer
}
.page{
    pointer-events:none;
    color: #b4b4b4
}
.blog-title{
    font-size: 18px;
}
.load-context{
    height: 100px;
    text-align: center;
    line-height: 70px;
    font-size: 10px;
}
hr{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}